{% load static %}
<html>
    <style>
        #head{
        width:auto;
        height:90px;
        background-color: rgb(249, 232, 218);
        }
        .right{
            width: 500px;
            background-color: rgb(249, 232, 218);
            float:right;
        }
        .left{
            width: 1400px;
            background-color: rgb(249, 232, 218);
            float:left;
        }
        a{
            text-decoration: none;
        }
        .margin{
            left: 40px;
        }
    </style>
    <body>
        <div id="head">
            <br>
            <div class="right">
                <center><a href="login"><button>Create new account/Login</button></a></center>
            </div>
            <div class="left">
                <center>
                    <table>
                        <tr>
                            <td><center><a href="home">Home &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></center></td>
                            <td><center><a href="about">About &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></center></td>
                            <td><center><a href="categories">Categories &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></center></td>
                            <td><center><a href="best">Best selling &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></center></td>
                            <td><center><a href="author">Authors &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></center></td>
                            <td><center><a href="shop">Shop &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></center></td>
                            <td><center><a href="contact">Contact Us &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></center></td>
                            <td><center><a href="admin">Admin &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></center></td>
                        </tr>
                    </table>
                </center>
            </div>
        </div>
        <center><h1 style="font-family: 'Courier New', Courier, monospace; color: black; font-size:40;"><b>Welcome to Galaxy Bookstore</b></h1></center>
        <h2 style="font-family: 'Times New Roman', Times, serif; font-size: 25; color: black;">We sell books of the following authors:<br></h2>
        <div class="margin">
            {% for i in t%}
                <p>{{i.name}}&nbsp;&nbsp;<a href="delet/{{i.id}}">Delete</a></p>
            {% endfor %}
        </div>
        <form action="au">
            <label>Author: </label><input type="text" placeholder="name of author" name="name">
            <button>Add</button>
        </form>
        <p style="font-size: 25;"><b>Keep browsing for more</b></p>
    </body>
</html>