{% load static %}
<html>
    <style>
        #head{
        width:auto;
        height:90px;
        background-color: rgb(249, 232, 218);
        }
        .right{
            width: 500px;
            background-color: rgb(249, 232, 218);
            float:right;
        }
        .left{
            width: 1400px;
            background-color: rgb(249, 232, 218);
            float:left;
        }
        a{
            text-decoration: none;
        }
        .margin{
            left: 100px;
        }
    </style>
    <body>
        <div id="head">
            <br>
            <div class="right">
                <center><a href="login"><button>Create new account/Login</button></a></center>
            </div>
            <div class="left">
                <center>
                    <table>
                        <tr>
                            <td><center><a href="home">Home &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></center></td>
                            <td><center><a href="about">About &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></center></td>
                            <td><center><a href="categories">Categories &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></center></td>
                            <td><center><a href="best">Best selling &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></center></td>
                            <td><center><a href="author">Authors &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></center></td>
                            <td><center><a href="shop">Shop &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></center></td>
                            <td><center><a href="contact">Contact Us &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></center></td>
                            <td><center><a href="admin">Admin &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></center></td>
                        </tr>
                    </table>
                </center>
            </div>
        </div>
        <center><h1 style="font-family: 'Courier New', Courier, monospace; color: black; font-size:40;"><b>Welcome to Galaxy Bookstore</b></h1></center>
        <div class="margin">
            <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 20; color: black;"><b>We are here for you.<br><br>
            You may contact us on<br><br>
            Email: galaxy.bookstores@gmail.com <br><br>
            Phone: +91 0123456789<br></b></p>
        </div>
        <center>
            <h2 style="font-size: 20; color: black;">Location:</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30162.731999190404!2d72.85293566170506!3d19.09266876762654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c8412eabd40d%3A0x24090700409101ee!2sITC%20Maratha%2C%20a%20Luxury%20Collection%20Hotel%2C%20Mumbai!5e0!3m2!1sen!2sin!4v1707764517820!5m2!1sen!2sin" 
            width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </center>
    </body>
</html>